html {
                font-size: 22px
            }

            body {
                background-color: #333;
                color: #eee;
            }

 a {
                color: #eee;
                text-decoration: none;
            }

            a:hover {
                color: #ff9100
            }

            h1, h2, h3 {
                color: #eee;
            }

            section {
                background-color: #444;
                padding: 20px;
                margin: 20px 0;
                border-radius: 10px;
            }

            hr {
                border: none;
                height: 1px;
                background-color: #555;
            }
            table, tr, th, td, caption {
                border: 1px solid #eee;
                font-family: 'Courier New', Courier, monospace;
                border-collapse: collapse;
                padding: 0.5rem;
            }